# Node.js / React
HappySchoolFrontend/node_modules/
HappySchoolFrontend/build/
HappySchoolFrontend/dist/
HappySchoolFrontend/.env
HappySchoolFrontend/.env.local
HappySchoolFrontend/.env.*.local

# .NET / C#
HappySchoolBackend/bin/
HappySchoolBackend/obj/
HappySchoolBackend/*.user
HappySchoolBackend/*.suo
HappySchoolBackend/.vs/
HappySchoolBackend/appsettings.Local.json

# IDE files
.vscode/
.idea/
*.swp
